
@media (max-width:1500px) {

   .list{
    gap: 10px;
   }

   .header-right{
    padding: 0 10px;
   }

   .mobile-links-container{
    display: none;
   }

   .hero-left,
.hero-right{

}

.hero-left h3{
    text-wrap: wrap;
}


.hero-frame{
    width: 40%;
}
  
.img-holder{
    width: 90%;
}
}

.hero-left{
    padding: 5rem 10%;
    /* text-wrap: wrap;o */
}

@media (max-width:1400px){
    .contact-container{
        flex-wrap: wrap;
        gap: 3rem;
    }

}





@media (max-width:1260px) {

    .mobile-links-container{
        display: none;
       }

   .list{
    gap: 8px;
   }

   .header-right{
    padding: 0 10px;
   }

   .header-button button {
    display: none;
   }

   .hero-right{
    display: flex;
    width:50% ;
   }
   .hero-frame{
    width: 40%;
    z-index: 3;
   }

   .hero-left{
    width: 50%;
   }

   .blog-container{
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    /* border: 3px solid greenyellow; */
   }

   .blog-img{
    width: 98%;
   }


   .hero-left h3{
    font-size: 40px;
    text-wrap: wrap;
    text-align: left;
    justify-content: center;
    padding: 0;
    align-items: center;
    width: 100%;
   }

   .hero-container{
    justify-content: space-evenly;
   }

   .hero-left p{
    width: 100%;
   }

   .service-container{
    flex-wrap: wrap;
   }
   .service-img{
    min-width: 720px;
   }

   .about-container{
    flex-wrap: wrap;
   }

   .our-services-left{
    /* min-width: 527px; */
   }
   .our-services-right{
    min-width: 40%;
   }

   .our-services-wrapper{
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: center;
   }


   .testimonial-wrapper{
    flex-wrap: wrap;
    /* padding: 0; */
   }















}










@media (max-width:1000px) {

   .list{
    gap: 10px;
   }

   .header-right{
    padding: 0 10px;
   }

   .header-button button {
    display: none;
   }
   .social-icons{
    display: none;
   }
   .contact-tel h1{
    font-size: 10px;
    text-wrap: nowrap;
   }
   .contact-tel{
    align-items: center;
   }

   .contact-right{
    padding: 20px;
   }
}

@media (max-width:920px){
 .header-links{
        display: none;
    }
    .mobile-links-container{
        display: flex;
    }

    .hh{
        display: block;
        transition: 200ms;
        height: auto;
        position: relative;
        /* z-index: ; */
    }

    .service-container{
        padding: 20px 0;
    }
    
   
}




@media (max-width:800px){
   .hero-right{
    display: none;
   }

   .hero-left{
    padding: 130px 19px;
    width: 100%;
    height: fit-content;
   }
   .hero-container{
    height: fit-content;
   }

   .top-container h3{
    /* border: 3px solid red; */
    text-wrap: nowrap;
    font-size: 20px;
   }
   .about-right{
    display: none;
   }
   .about-left h2{
    font-size: 20px;
    width: 100%;
    /* text-wrap: wrap; */
    /* padding: 010px; */
    text-align: center;
   }
   .about-left p{
    font-size: 10px;
    text-wrap: wrap;
   }

   .about-left{
    text-align: center;
    width: 100vw;
   }


   .discount-container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
   }
  
   .about-wwrapper{
    flex-wrap: wrap;
    gap: 20px;
   }

   .testimonial-left{
    width: 100vw;

   }

   .quote{
    padding: 0 20px;
   }


   .contact-container{
    padding: 20px;
   }

   .contact-left h5{
    /* border: 3px solid red; */
    /* width: 100%; */
    text-wrap: wrap;
    padding-left:  40px ;
    font-size: 20px;
   }

   .contact-left{
    width: 100%;
    text-align: center;
   }

   .contact-left h5{
    width: 80%;
    font-size: 30px;
    flex-wrap: wrap;
   }
   .blog-container{
    flex-wrap: wrap;
    padding: 0 10px;
   }

   footer{
    padding: 15px;
   }
   .footer-top{
    width: 80%;
    flex-wrap: wrap;
   }

   .footer-down{
    flex-wrap: wrap;
   }


   .footer-links ul, li a {
    font-size: 10px;
   }
}
