*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth; 
 }

/* =====================MOBILE LINKS AND HAMBURGER MENU STARTS HERE=================================== */
.mobile-links-container{
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100vw;
    display: none;
}

.mobile-logo{
    /* border: 3px solid white; */
    width: 170px;
    color: #111E22;
    height: 50px;
    background: url(./asssets/Logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

button{
    background: transparent;
    border: 0;
    cursor: pointer;
}

#menu{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
}

.mobile-ul{
    width: 100vw;
    background: #111E22;
    text-align: center;
    display: none;
    height: 100vh;
    padding: 1rem 0;
}

.mobile-ul li a{
    display: block;
}

.mobile-ul li a:hover{
    background: #EBF3F5;
    color: #111E22;
    padding: .25rem;
}

.hh{
    display: block;
}

.overlay{
    display: none;
}

.hhh.overlay{
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: absolute;
    z-index: 13;
    display: flex;
    
}

.hhh .overlay{
    display: flex;
}


   /* .overlay{
    display: flex;
    
    

} */


/* =====================MOBILE LINKS AND HAMBURGER MENU ENDS HERE=================================== */




.header-links{
    /* border: 3px solid tomato; */
    /* width: 100%; */
}

.header-container{
    /* border: 3px solid aqua; */
    justify-content: space-between;
    display: flex;
    padding: 0.5rem 1rem ;
    background: hwb(0 100% 0%);
}

.header-left{
    /* border: 3px solid greenyellow; */
    display: flex;
    align-items: center;
    gap: 3rem;
}
.header-right{
    /* border: 3px solid red; */
    padding-left: 10em;
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 22.5px */ 
    display: flex;   
    align-items: center;
    width: max-content;             
}



.contact-tel{
    display: flex;
    align-items: center;
    /* border: 3px solid blue; */
}
.contact-tel h1{
    color: #555;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    /* font-weight: 600; */
    line-height: 125%; /* 22.5px */
    letter-spacing: -0.18px;
}

.list{
    display: flex;
    list-style: none;
    gap: 15px;
}

.list li{
    cursor: pointer;
}

#nest{
    padding: .5rem;
    z-index: 100;
    width: 16rem;
    box-shadow: 0 0 2px 2px #111E2277;
}

#nest li{
    padding: .5rem;
    width: auto;
}

.list li a{
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    display: block;
    padding: .25rem;
}

.hide{
    transform: scale(0) translateY(200rem);
    left: 0;
    opacity: 0;
    transition: 200ms;
    position: absolute;
    list-style: none;
    font-weight: 200;
    text-decoration: none;
    background: #ffffff;
    gap:1rem ;
    /* top:0 ; */
}

.show-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-links:hover .hide{
    top: 2.5rem;
    transition: .5s;
    transform: scale(1);
    opacity: 1;
}
.show-links{
    position:relative;
}
.list li a:hover  {
    background: #7A9CA5;
    transition: .5s;
    padding: .5rem;
    color: white;
    border-radius: 10px;
}
.show-links:hover{
    background: #7A9CA5;
    padding: 0.5rem;
    transition: .5s;
    color: white;
    border-radius:10px;
}
.social-icons{
    display: flex;
    padding: 0 2rem;
    gap: 1.5rem;
}
.social-icons a{
    text-decoration: none;
    color: #141414;
    text-align: center;
    font-family: Font Awesome 5 Brands;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    letter-spacing: 0.88px;
    text-transform: uppercase;
    cursor: pointer;
}

.header-button button{
    display: flex;
    padding: 16px 33px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    gap: 10px;
    margin-left: 2.5rem;
    background: #7A9CA5;
    color: white;
    outline: none;
    border: 0;
    transition: 200ms;
}

.header-button:hover button{
    border-radius: 10px;
    transition: 200ms;
    padding: 13px 25px;
}
/* HEADER ENDS HERE----------------------------- */



/* ========HERO SECTION STARTS HERE ================= */

.hero-container{
    /* border: 3px solid white; */
    height: 925px;
    display: flex;
}

.hero-left,
.hero-right{
    width: 55%;
    height: 100%;
    /* border: 3px solid greenyellow; */
}

.hero-left{
    background: #EBF3F5;
    display: flex;
    flex-direction: column  ;
    padding-left: 15%;   
    z-index: 1;
    justify-content: center;
    gap: 1rem;
    
}

.hero-left h6{
    color: #5C8692;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.hero-left h3{
    color: #141414;
    font-family: Playfair Display;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 80.5px */
    letter-spacing: -0.7px;  
    width: 510px;           
}

.hero-left p{
    color: #555;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 32.3px */
    width: 508px;
}


.hero-button{
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 17.5px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
     display: flex;
    padding: 23px 36px 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #5C8692;
    width: fit-content;
    height: 17px;
    border: 0;
    transition: 200ms;
   
}
.hero-button:hover {
    border-radius: 10px;
    color: #141414;
    transition: 200ms;
    padding: 25px 39px;

}

.hero-button a{
    text-decoration: none;
    color: white;
}

.hero-right{
    background: #1E2C30;
    display: flex;
    align-items: center;
    

}

.hero-frame{
    width: 561px;
    height: 663px;
    border: 10px solid #FFF;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    border-left: 0;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: -5em;
    position: absolute;
   
}

.img-holder{
    /* border: 3px solid red; */
    width: 620px;
    height: 80%;
    background: url(./asssets/pexels-sora-shimazaki-5938440\ 1.png);
    background-repeat: no-repeat;
    position: relative;
    left: -4em;
    top: 3rem;
    z-index: 2;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
    
   
}


/* ====================HERO SECTION ENDS HERE================ */





/* ============SERVICES SECTION STARTS HERE======================== */

.service-container{
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    gap: 105px;
    padding: 10rem;
    background: white;
}

.service-img{
    width: 327px;
    /* border: 3px solid rgb(31, 29, 183); */
    height: 265px;
    
}

.one{
    background: url(./asssets/Photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.two{
    background: url(./asssets/Photo2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.three{
    background: url(./asssets/Photo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.services-wrapper{
    width: 329px;
    /* border: 3px solid white;  */
    padding: 5px;
    overflow: hidden;
}

.services-wrapper h3{
    color: #141414;
    font-family: Playfair Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 31.2px */
    padding: 1rem 0;
}

.services-wrapper p{
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
    padding-bottom: 10px;
}

.service-button{
    background: #111E22;
    display: flex;
padding: 18px 43px 19px 43px;
justify-content: center;
align-items: center;
gap: 10px;
text-decoration: none;
border: 0;

}

.service-button:hover{
padding: 25px 50px;
}



.service-button a{
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 17.5px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
}
/* =============SERVICES SECTION ENDS HERE======================= */



/* ===========ABOUT US SECTION STARTS HERE================  */

.about-container{
    display: flex;
    gap: 155px;
    justify-content: center;
    background: #EBF3F5;
    box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
    padding: 50px 0;
}
.about-left{
    width: 529px;
    /* border: 3px solid tomato; */
}
.about-container P{
    text-align: center;
}


.about-left h5{
    color: #5C8692;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.about-left h2{
    color: #141414;
font-family: Playfair Display;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 58.5px */
letter-spacing: -0.45px;
width: 435px;
padding: 20px 0;
}

.about-left p{
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    /* width: 529px; */
    padding-bottom: 15px;
}


.about-wwrapper{
    /* width: 520px; */
    /* border: 3px solid rgb(8, 141, 66); */
    display: flex;
    justify-content: space-evenly;
}

.about{
    /* border: 3px solid blue; */
    /* height: 138px;
    width: 165px;
    display: block;  */
    /* border: 1px solid #1E2C30; */
    background: #FFF;   
    display: flex;
    width: 153px;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 22px 11px;
}


.about-img{
    width: 73px;
    height: 74px;
    flex-shrink: 0;
    /* border: 3px solid aqua; */
}

.about p{
    width: 99px;
    text-align: center;
    /* line-height: normal; */
    color: #141414;
    text-align: center;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
}

.about1{
    background: url(./asssets/Icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.about2{
    background: url(./asssets/Icon2.png);
    background-size: cover;
}
.about3{
    background: url(./asssets/Vector3.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.about-right{
    width: 517px;
    height: 550px;
    flex-shrink: 0;
    /* border: 3px solid white; */
    position: relative;
    background: #7A9CA5;
}


.about-ri{
    /* border: 3px solid red; */
    width: 500px;
    height: 550px;
    flex-shrink: 0;
    position: absolute;
    top: 3rem;
    right: 4rem;
    background: url(./asssets/about_img.png), lightgray 50% / cover no-repeat;
    
}
/* ===========ABOUT US SECTION ENDS HERE================  */


/* =====OUR SERVICES SECTION STARTS HERE=============== */

.our-services{
    background: #FFF;   
}

.our-serivces-container{
    /* border: 3px solid blueviolet; */
}
.top-container p{
    color: #5C8692;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.top-container{
    /* border: 3px solid rgb(43, 35, 200); */
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}
.top-container h3{
    color: #141414;
text-align: center;
font-family: Playfair Display;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 58.5px */
letter-spacing: -0.45px;
}


.our-services-left{
    width: 527px;
    height: 600px;
    /* border: 3px solid aqua; */
    background: url(./asssets/our-services.png);
}

.our-services-right{
    /* border: 3px solid white; */
    width: 527px;
    padding-top: 2rem;
   
}

.our-services-wrapper {
    display: flex;
    /* justify-content: space-between; */
    /* border: 3px solid greenyellow; */
    gap: 03rem;
    padding: 0 15rem;
}

.text_house h1{
    color: #141414;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.1px;
}

.text_house p{
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
}

.text_house{
    /* border-bottom: 1px solid  #9BB7BF; */
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.our-services-button{
    display: flex;
    padding: 23px 34px 24px 34px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    outline: none;
    border: 0;
}

.our-services-button a{
    text-decoration: none;
        color: #141414;
    text-align: center;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 17.5px */
    letter-spacing: 1.68px;
    text-transform: uppercase;
}
.sec{
    background: url(./asssets/our-services2.png);
}
/* =====OUR SERVICES SECTION ENDS HERE=============== */


/* =========TESTIMONIAL SECTION STARTS HERE =============== */

.testimonial-section{
    background: #EDF5F7;
}

.testimonial-wrapper{
    display: flex;
    gap: 36px;
   justify-content: center;
   padding-bottom: 4rem;
   
  
}
.testimonial-left{
    /* border: 3px solid greenyellow; */
    width: 582px;
    background: #FFF;
   
}

.testimonial-rating{
    /* border: 4px solid white; */
    display: flex;
    padding: 17px;
    background: #1E2C30;
}

.rating-img{
    width: 85px;
    /* border: 3px solid tomato; */
    height: 92px;
    background: url(./asssets/testimonial-pics.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.rating-imgg{
    width: 85px;
    /* border: 3px solid tomato; */
    height: 92px;
    background: url(./asssets/testimonial-pics-2.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.rate-logo-container{
    /* border: 3px solid yellow; */
    width: 90px;
    /* height: 16px; */
    display: flex;
    align-items: center;
}

.rates{
    /* border: 3px solid aqua; */
    padding: 5px 20px;
}

.quote{
    /* border: 3px solid green; */
    /* width: 70px; */
    /* height: 55px; */
    padding-left: 200px;
    padding-top: 20px;
}
.testimonial-left P{
    padding: 44px 49px;
    color: #141414;
    font-family: Manrope;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
}

.rates h3{
    color: #FFF;
    font-family: Playfair Display;
    font-size: 17px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: 160%; /* 32px */
    letter-spacing: -0.2px;
}

.rates h4{
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 22.4px */
    letter-spacing: 0.42px;
}


/* =========TESTIMONIAL SECTION STARTS HERE =============== */

/* ========    BENEFIT SECTION STARTS HERE  =============== */
.benefit-section{
    background: white;
}
.benefit-section .ben, h2{
    text-align: center;
}

.benefit-section .ben{
    padding: 1rem 0;
}

.benefit-wrapper{
    /* border: 3px solid blue; */
    /* width: 330px; */
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 2rem;
    
}

.benefit{
width: 330px;
}

.benefit-img{
    /* border: 3px solid black; */
    width: 70px;
    height: 70px;
    background: url(./asssets/benefit-img.png);
    background-size: cover;
}

.benefit p{
    color: #555;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
   
}

.benefit h4{
    padding: 10px 0 ;
    /* border: 3px solid white; */
}
/* ========    BENEFIT SECTION ENDS HERE  =============== */



/* =================== CONTACT US & DISCOUNT SECTION STARTS HERE =================== */
.contact-container{
    display:flex;
    justify-content:center;
    gap:15rem;
    padding: 132px 0;
    background: #EDF5F7;
}
.contact-left{
    /* border:3px solid yellow; */
    width: 534px;
    padding:15px 0;
    /* display: block; */
}

.contact-left p{
    color: #5C8692;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    /* text-transform: uppercase; */
}

.contact-left.flat{
    color: #5C8692;
font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 600;
line-height: 154.5%; /* 23.175px */
letter-spacing: 1.5px;
text-transform: uppercase;
}
.contact-left h5{
    color: #141414;
font-family: Playfair Display;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 58.5px */
letter-spacing: -0.45px;
width: 435px;
}

.contact-left .per{
    color: #555;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%; /* 29.7px */
    letter-spacing: 0.36px;
}
.contact-right{
    width: 500px;
    /* border: 3px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:50px 60px;
    /* height: 500px; */
    background: #FFF;
    box-shadow: 0px 20px 40px 0px rgba(42, 68, 75, 0.13);
}
.input-container {
    position: relative;
    /* border: 1px solid #5C8692; */
    background: transparent;
  }

  .input-container input[type=text] {
    /* border: 3px solid rgb(255, 0, 251); */
    outline:0;
  }

  

  input,textarea {
    border: 1px solid #5C8692;
    background: #FFF;
    color: #555;
    outline: none;
  }
  

  .input-container input {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
  }
  .input-container i {
    position: absolute;
    left: 5px;
    top: 10px;
    color:#5C8692;
  }

  #your-text{
    height: 136px;
    width: 100%;
    resize: none;
}

.discount-right{
    /* border: 3px  solid blue; */
    /* width: 150px; */
    padding: 15px 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1E2C30;
}

.discount-container{
    display: flex;
    /* width: 100%; */
}


.discount-left{
background: #ffff;
padding: 40px 25px;
width: 100%;
}

.discount-left strong{
    color: #141414;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 800;
line-height: 150%; /* 21px */
letter-spacing: 1.12px;
text-transform: uppercase;

}

.discount-left h3{
    color: #141414;
font-family: Manrope;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 150%;
padding:8px ;
}
.discount-right .typo{
    color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 175%; /* 31.5px */
letter-spacing: 0.36px;
}

.discount-price{
    width: 97.57px;
height: 48.75px;
}

/* =================CONTACT US &  DISCOUNT SECTION ENDS HERE ================== */



/* ===================BLOG SECTION STARTS HERE================ */

#blog{
    padding: 5rem 0;
    background: #FFF;
}

.blog-small, .blog-big{
    text-align: center;
    padding: 5px 0;
}

.blog-small{
    color: #5C8692;
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%; /* 23.175px */
    letter-spacing: 1.5px;
    text-transform: uppercase;  
}

.blog-big{
    color: #141414;
text-align: center;
font-family: Playfair Display;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 58.5px */
letter-spacing: -0.45px;
}

.blog1{
    background: url(./asssets/blog1.png);
    background-size: cover;
}
.blog2{
    background: url(./asssets/blog2.png);
}
.blog3{
    background: url(./asssets/blog3.png);
}
.blog-container{
    display: flex;
    justify-content: space-evenly;
    /* border: 3px solid red;F */
}
.blog-img{
    width: 370px;
    /* border: 3px solid white; */
    height: 341px;
    background-repeat: no-repeat;
    
}


.top{
    color: #5C8692;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 125%; /* 16.25px */
letter-spacing: 0.78px;
text-transform: uppercase;
padding: 10px 0;
}

.big{
    color: #141414;
font-family: Playfair Display;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 30.8px */
letter-spacing: 0.44px;
width: 289.866px;
}

.small{
    color: #555;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 155%; /* 27.9px */
letter-spacing: 0.36px;
width: 317.567px;
height: 85px;
}

.blog-button{
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.blog-but{
    display: flex;
padding: 23px 41px 24px 41px;
justify-content: center;
align-items: center;
gap: 10px;
outline: 0;
border: 0;
}

.blog-but a{
    text-decoration: none;
    color: #141414;
}

/* ===================BLOG SECTION ENDS HERE================ */



/* =======================FOOTER SECTION STARTS HERE==================== */

footer{
    padding: 0 8rem;
    background: #1E2C30;
    /* position: relative; */
}
.footer-top{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    
}

.footer-down{
    display: flex;
    justify-content: space-between;
}

.footer-logo-container{
    display: flex;
    align-items: center;


}

.top-text{
    color: #FFF;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: 0.8px;
    padding-left: 10px;
}
.footer-logo{
    width: 65px;
    height: 65px;
   /* border: 3PX solid greenyellow; */
   /* padding: 10px; */
   /* font-size: 10px; */
}
.footer-social-links{
    display: flex;
    /* border: 3px solid yellow; */
    justify-content: space-between;
}

.footer-links h3{
    padding: 1rem 0;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 30.8px */
}

.social{
    width: 55px;
    height: 55px;
    font-size: 25px;
    /* border: 2px solid #5C8692; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;

}


.social a{
    text-decoration: none;
    color: #ffff;
}

.footer-links ul, li a {
list-style: none;
color: #FFF;
font-family: Manrope;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 200%; /* 34px */
letter-spacing: -0.17px;
transition: 200ms;
border: 2px solid transparent;
}

.footer-links li a:hover{
    border: 2px solid #b6d4dd;
    transition: 200ms;
    padding: 5px 10px;
}

.copyright-container{
    width: 100%;
    /* border: 3px solid red; */
    /* position: absolute; */
    padding: 1.5rem;
    background: #111E22;
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Font Awesome 5 Free;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%; /* 30px */
    letter-spacing: -0.15px;
}
/* =======================FOOTER SECTION ENDS HERE==================== */



body{
    /* background: red;   */
}
